{% extends 'base/base.html' %}
{% load static %}
{% load active_link_tags %}
{% load i18n %}


{% block contenue %}

<!-- <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Subscribe our Newsletter</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
				<p>Subscribe to our mailing list to get the latest updates straight in your inbox.</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div> -->
<h1>Ajouter une race</h1>
<form method="POST" action="">
{% csrf_token %}
{{breeds}}
<button type="submit" class="btn btn-primary mt-4">Submit</button>    
<!-- <div class="modal fade" id="myModal" tabindex="-1"  data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Ajouter une race de chien</h1>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label class="required form-label" for="id_name_breed">Name de la race:</label>
                <input type="text" name="name_breed" value="" class="form-control" maxlength="50" required="" id="id_name_breed">
            </div>        
        </div>
        <div class="modal-footer">
        <a href="{% url 'add_dog' %}"><button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Retour</button></a>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
    </div>
    </div>
</div> -->
</form>
{% endblock %}