{% extends 'base/base.html' %}
{% load static %}



{% block contenue %}

    <h1>Ajouter un nouveau chien </h1>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ dog_form }}       
    <br> 
    <button type="submit" class="btn btn-primary mt-4">Submit</button>    
    </form>

{% endblock %}