{% extends 'base/base.html' %}
{% load static %}
{% load active_link_tags %}
{% load i18n %}

{% block contenue %}
<div class="container">
    <h1>Profile des chiens</h1>
    <div class="row">
        {% for dog in dogs %}
            <a class="col-auto col-xl-1" href="{% url 'single_dog' dog.id %}">
                <div class="profile">
                    <div class=" profile-photo">
                        <img src="{{ dog.avatar_dog.url }}" >
                    </div>
                    <div class="info text-center">
                        <p><b>{{ dog.name_dog }}</b></p>
                    </div>
                </div>
            </a>
        {% endfor%}               
            <div class="col-auto">
                <a href="{% url 'add_dog' %}"><button class="btn btn-primary">Ajouter un chien</button></a>
            </div>
    </div>
</div>

    
{% endblock %}