{% extends 'barko/index.html' %}
{% load active_link_tags %}
{% load static %}
{% load i18n %}

{% block contenue %}
<div class="container ">
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    
      {{form}}
      <div class="row">
        
        <div class="col-auto ">
          <button type="submit" class="btn btn-warning ">Modifier</button> 
        </div>

        <div class="col-auto">
          <span class="btn btn-danger " data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Supprimer
          </span>
        </div>
        <div class="col-auto ">
          <a href="{% url 'dog_profil' %}"><span class ="btn btn-warning" class="btn btn-warning ">Retour</span></a>
        </div>
      </div> 
  </form>

          
          <div class="collapse" id="collapseExample">
            <div class="card card-body ">
              <h4>Confirmation de la suppresion </h4>
              <div class="row">
                <a href="{% url 'delete_dog' dog.id %}" class="col-auto" ><span class="btn btn-info mt-2">oui</span></a>
                <a href="" class="col-auto" ><span class="btn btn-info mt-2">non</span></a>
              </div>
            </div>
          </div>
        </div>
        
      </div>



{% endblock %}