{% extends 'barko/index.html' %}
{% load static %}
{% load active_link_tags %}
{% load i18n %}

{% block contenue %}
<p>Identifiant ou mot de passe incorrect</p>
<a href="{% url 'login' %}">Login</a>
{% endblock %}