    {% extends 'base/base.html'%}
    {% load static %}
    
    {% block contenue %}
        <div class="container">
            
        
            <h1>Dashboard</h1>

            <div class="row">
                {% for dog in dog_list %}
                    <a class="col-2 col-xl-1" href="">
                        <div class="profile ">
                            <div class=" profile-photo">
                                <img src="{% static  dog.avatar_dog.url %}" >
                            </div>
                            <div class="info">
                                <p><b>{{ dog.name_dog }}</b></p>
                            </div>
                        </div>
                    </a>
                {% endfor%}               
            </div>
            
            <!-- <h3>JOURNAL</h3> -->
            <span><a href="" class="btn btn-primary">Ajouter une sortie</a></span>  
            <div class="">
                <div class="table-responsive">
                    <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <th>Chien</th>
                                    <th>Propio</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </thead>
                                <tbody>
            
                                {% for dog in dog_list.all %}
                                    <tr>                                      
                                        <td>{{ dog }}</td>
                                        <td>{{ user.owner.first_name }} 
                                            </td>
                                        <td>{% for walk in walk.all %}{{ walk }}{% endfor%}</td>
                                        <td>{{dog.walk.all}}</td>
                                        <td></td>
                                        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/edit/{{ employee.id }}" class="btn btn-warning btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >MODIFIER<span class="glyphicon glyphicon-pencil"></span></a></p></td>
                                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a href="/delete/{{ employee.id }}" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >SUPPRIMER<span class="glyphicon glyphicon-trash"></span></a></p></td>  
                                    </tr>  
                                    {% endfor%}

                                </tbody>
                            
                    </table>
                </div>
            </div>                
        </div>   
        
    {% endblock %}

