{% extends 'base/base.html' %}
{% load static %}
{% load active_link_tags %}
{% load i18n %}

{% block contenue %}

{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Il y'a eu une erreur avec le formulaire</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
<h1>Inscription</h1>
<form id="register" method="post" action="{% url 'inscription' %}" >
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            {{user_form.as_p}}
        </div>
        <div class="col-12 mt-5">
            
            <input type="submit" value="Connexion" class="btn btn-primary">
        </div>
    </div> 
</form>

{% if error_message  %}<p><strong>{{ error_message}}</strong></p>{% endif %}
{% endblock %}