{% extends 'base/base.html' %}
{% load static %}


{% block contenue %}
<div class="container">
   
    <h1>Journal</h1>


    

    <div class="row">
        {% for dog in dog_list %}
            <a class="col-auto col-xl-1" href="">
                <div class="profile ">
                    <div class=" profile-photo">
                        <img src="{{ dog.avatar_dog.url }}" >
                    </div>
                    <div class="info">
                        <p><b>{{ dog.name_dog }}</b></p>
                    </div>
                </div>
            </a>
        {% endfor%}               
    </div>               

</div>    
{% endblock %}