{% extends 'base/base.html' %}
{% load static %}
{% load active_link_tags %}
{% load i18n %}

{% block contenue %}


<div class="text-center"><h1 style="font-size: 4rem ;">WELCOME</h1></div>
<div class="row d-flex mt-5">
    <div class="col-7">
        <img class="img-reposnsive" src="{% static 'img/default/dogio.png' %}" alt="">
    </div>
    <div class="col-5">
        <form id="login" method="post" action="">
            {% csrf_token %}
                <div class="form-group mb-4">        
                    <label for="exampleInputEmail1">Adresse Mail</label>
                    <input type="email" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Saisir email">            
                </div>
                <div class="form-group mb-4">
                    <label for="exampleInputPassword1">Mot de passe </label>
                    <input type="password" class="form-control" name="password" placeholder="Saisir mot de passe">      
                </div>        
                <input type="submit" value="Connexion" class="btn btn-primary">            
        </form>
        <a class="mt-5" href="{% url 'inscription' %}"><button class="btn btn-info mt-4">Inscription</button></a>
    </div>
</div>
{% endblock %}