{% for dog in dog_list %}
{% if dog.walk  %}
<div class="action1"><!--CONTENEUR DES CARDS-->
    <div class="card"><!--start card 1 -->
        {% if dog.walk.all  %}
            <div class="profile-photo">                    
                <img src="{{dog.avatar_dog.url}}" >
            </div> 
        
        {% for walk in dog.walk.all  %}                     
        <small class="text-muted">begin: {{ walk.begin_time }}</small><br>
        <small class="text-muted">end: {{ walk.end_time }}</small>
        
        <div class="middle">
            <div class="left">
                <h3>pets profile</h3>
                <h1>Django</h1>
            </div>
            <div class="right">                   
                <div class="pourcentage">
                    <p>81%</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}          
        {% endif %}                   

    </div>
</div>    
{% endfor%}




<!-- <form id="register" method="post" action="">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label for="user_name">Nom</label>
                <input id="user_name" name="user_name">
            </td>
        </tr>
        <tr>
            <td>
                <label for="user_firstname">Prénom</label>
                <input id="user_firstname" name="user_firstname">
            </td>
        </tr>
        <tr>
            <td>
                <label for="user_email">Email</label>
                <input id="user_email" name="user_email">
            </td>
        </tr>
        <tr>
            <td>
                <label for="user_pwd">Mot de passe</label>
                <input type="password" id="user_pwd" name="user_pwd">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Enrengistrer">
            </td>
        </tr>
    </table>
</form> -->