<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load active_link_tags %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BARKO</title>

    <!--Material icons ( google font icon)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
    rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block css %}    
    {% endblock %}
</head>
<body>
    <div class="container gap-4"><!--left & main & right (grid-columns)-->
        <div class="row">
            <div class="col-2">
                {% include 'base/nav.html' %}
            </div>
            <main class="col-auto col-xl-7 mt-xl-5">

            {% if messages %}
                {% for message in messages %}          

                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ message}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                {% endfor %}
            {% endif%}   

            {% block contenue %}
            {% endblock %}

            </main>

            {% if request.user.is_authenticated %}            
                <div class="col-3">{% include 'base/right.html' %}</div>
            {% endif %}  
        </div>         
        

    </div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>
