{% load static %}
{% load active_link_tags %}
<aside><!--entire left grid-->
    <div class="top"><!--conteneur (img logo + brandname) qui prend toute la largeur-->
        
        <div class="logo">
            <a href="">  <!--img logo + brandname-->
                <img src="{% static 'img/default/logo.png' %}" alt=""><!--img logo-->
            </a>
            <h2>BAR<span class="brandname">KO</span></h2><!--brandname-->
        </div>
        <div class="close" id="close-btn"><span class="material-icons-round">cancel</span><!--close-btn (hidden in web)-->
        </div>                
    </div>

    <div class="sidebar"><!--contenur du SIDEBAR-->
            {% if not dog in request.user.dog.all %}
                <a class="{% active_link 'index' strict=True %}" href="{% url 'index' %}"><span class="material-icons-round">space_dashboard</span><!--icone du SIDEBAR-->
                    <h3>Dashboard</h3>
                </a><!--lien du SIDEBAR-->
                <a class="{% active_link 'journal'  %}" href="{% url 'journal' %}"><span class="material-icons-round">format_list_bulleted</span>
                    <h3>Journal</h3>
                </a>
                <a class="{% active_link 'profil'  %}" href="{% url 'dog_profil' %}"><span class="material-icons-round">pets</span>
                    <h3>Profil</h3>
                </a>
                <a class="{% active_link 'photo'  %}" href=""><span class="material-icons-round">photo_camera</span>
                    <h3>Photo</h3>
                </a>
                <a class="{% active_link 'parametres'  %}" href="{% url 'parametres' %}"><span class="material-icons-round">settings</span>
                    <h3>Paramètres</h3>
                </a>
            {% else %}
                <a class="{% active_link 'index' strict=True %}" href="{% url 'index' %}"><span class="material-icons-round">space_dashboard</span><!--icone du SIDEBAR-->
                    <h3>Dashboard</h3>
                </a><!--lien du SIDEBAR-->
                <a class="{% active_link 'journal'  %}" href="{% url 'journal' %}"><span class="material-icons-round">format_list_bulleted</span>
                    <h3>Journal</h3>
                </a>
                <a class="{% active_link 'profil'  %}" href="{% url 'dog_profil' %}"><span class="material-icons-round">pets</span>
                    <h3>Profil</h3>
                </a>
                <a class="{% active_link 'photo'  %}" href=""><span class="material-icons-round">photo_camera</span>
                    <h3>Photo</h3>
                </a>
            <!-- -------------------FUTURE--------------------------------- -->
                <!-- <a class="{% active_link 'maps'  %}" href=""><span class="material-icons-round">place</span>
                    <h3>Maps</h3>
                </a>
                <a class="{% active_link 'budget'  %}" href=""><span class="material-icons-round">savings</span>
                    <h3>Budget</h3>
                </a>
                <a class="{% active_link 'objectif'  %}" href=""><span class="material-icons-round">outlined_flag</span>
                    <h3>Objectif</h3>
                    <span class="objectif-count">2</span>
                </a>
                <a class="{% active_link 'ajouter'  %}" href=""><span class="material-icons-round">add</span>
                    <h3>Ajouter</h3>
                </a> -->

                <a class="{% active_link 'parametres'  %}" href="{% url 'parametres' %}"><span class="material-icons-round">settings</span>
                    <h3>Paramètres</h3>
                </a>
    {% endif %}
<!-- -------------------------------------------------------  -->
    {% if not request.user.is_authenticated %}
                <a class="{% active_link 'login'  %}" href="{% url 'login' %}"><span class="material-icons-round">login</span>
                    <h3>Connexion</h3>
                </a>
                <a class="{% active_link 'inscription'  %}" href="{% url 'inscription' %}"><span class="material-icons-round">person_add</span>
                    <h3>Inscription</h3>
                </a>
    {% else %}
                <a class="{% active_link 'logout'  %}" href="{% url 'logout' %}"><span class="material-icons-round">logout</span>
                    <h3>Déconnexion</h3>
                </a> 
    {% endif %}               
            </div>
        </aside>