{% load static %}
{% load active_link_tags %}

<!-- DEBUT DU TOP RIGHT  -->
<div class="right mt-4">
    <div class="top d-flex justify-content-end gap-5 ">
        <button class="d-xl-none d-inline-block" id="menu-btn">
            <span class="material-icons-round">menu</span>  <!--bouton hamburger -->
        </button>
        <!-- <div class="theme-togler d-flex justify-content-around align-items-center border-radius-lg"> -->
            <!-- <span class="material-icons-round active text-white">light_mode</span> bouton light -->
            <!-- <span class="material-icons-round">dark_mode</span> bouton dark -->
        <!-- </div> -->
        <div class="profile d-flex gap-5 text-align-right ">
            <div class="info">
                <p>Hello, <b>{{user}}</b></p>
                <small class="text-muted"></small>
            </div>
            <div class="profile-photo">
                <img src="{% static user.avatar.url %}" alt="">
            </div>
        </div>
    </div>
    <!-- FIN DU TOP -->
    

</div>